.App {
  //text-align: center;
  display: flex;
  //align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  background-color: #fbfbfb;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#head-txt {
  text-align: center;
}

#capture {
  width: auto;
  height: fit-content;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#video-container {
  width:100%;
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:black;
  #video {
    height:100%;
    width:100%;
  }
}

.card {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
  background: #ffffff;
  padding:20px;
  border-radius: 8px;
}

#calendar {
  
  width:450px;
  height:470px;
  padding:38px;
  border-radius: 8px;
  h3, h4, p {
    margin: 5px 0 0 0;
    display:inline-block;
  }
  img {
    display: inline-block;
    vertical-align: middle;
    height:24px !important;
    width:24px !important;
    padding-right: 10px
  }
  a {
    &:-webkit-any-link {
      color: #3c4043;
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .minor-txt {
    margin:3px 0 0 0;
  }
  .minor-txt {
    padding-left: 10px + 24px;
  }
  .section {
    margin:35px 0 35px 0;
  }
  .first {
    margin:0px 0 35px 0;
  }
  .to {
    padding-left:10px;
    transform: translateY(-2px);
  }
}

@media only screen and (max-width: 1000px) {
  #video-container {
    height:60vw;
  }
}

@media only screen and (max-width: 768px) {
  #video-container {
    height: 80%;
  }
}
